.sidebar {
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: @local-background;
  box-shadow: @box-shadow-base;
  clip-path: inset(0px -50px 0px 0px);
  transition: linear @animation-splice-time;

  .divider {
    min-width: 220px;
    width: 220px;
    margin: 15px 0 15px 20px;
    transition: linear @animation-splice-time;
  }

  .content {
    width: 260px;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: linear @animation-splice-time;

    .logo {
      margin: 20px 20px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: linear @animation-splice-time;

      img {
        max-width: 200px;
        max-height: 100px;
      }
    }

    .menu {
      width: 100%;
      height: max-content;

      .item {
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-start;
        align-items: center;
        padding: 4px 0;
        margin: 3px 0;
        transition: linear @global-hover-time;
        width: 260px;
        &:hover {
          background-color: @global-hover-color;
        }

        .activeMarker {
          height: 30px;
          width: 5px;
          background-color: @primary-color;
          border-radius: 0 @border-radius-base @border-radius-base 0;
          transition: linear @animation-splice-time;
          transform: translate(-5px);
        }

        .itemContent {
          width: 100%;
          display: flex;
          flex-flow: nowrap row;
          justify-content: flex-start;
          align-items: center;
          margin-left: 10px;
          transition: linear @animation-splice-time;
        }
      }

      .activeItem {
        .activeMarker {
          transform: translate(0px);
        }
      }
    }
  }

  .icon {
    margin: 0 16px;
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    align-items: flex-end;
    height: 50px;

    .viewType {
      margin: 10px 15px;
    }

    .divider {
      margin: 0 20px;
    }
  }
}

.fullView {
  width: 260px;
}

.minimizeView {
  overflow: hidden;
  width: 60px;
  left: 10;

  .content {
    width: 60px;
    .logo {
      transform: scale(0);
      opacity: 0;
    }

    .divider {
      min-width: 40px;
      width: 40px;
      margin: 15px 0 15px 10px;
    }

    .menu {
      .item {
        .itemContent {
          margin-left: 0px;
        }
      }
    }
  }

  .bottom {
    .divider {
      margin: 0;
    }
  }
}
