.organization {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: nowrap column;
  width: 100%;
  padding: 20px 0;

  .hat {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: nowrap column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }

  .yearIncomeChart {
    width: 100%;
    min-height: 400px;
    flex: 1;
  }
}
