.modelWrap {
  padding: 5px;
  .hat {
    padding: 5px 0;

    .hatNode {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  .childrenWrap {
    position: relative;
    overflow: hidden;
    min-height: 70vh;
    padding: 10px 5px;
    .children {
      padding: 0;
    }
    .loadingArea {
      z-index: 10;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: @local-background-opacity;
    }
  }
}
